body {
  margin: 20px;
}
#name_input {
  float: left;
  margin-bottom: 20px;
  margin-right: 20px;
}
#date_input {
  float: left;
  margin-bottom: 20px;
}
#year_input {
  clear:both;
}
.rank_color {
  width: 20px;
  margin-top: 2px;
}

/* Step 2: Your CSS code goes here */

#selectable .ui-selecting {
    background: #FECA40;
  }
  #selectable .ui-selected {
    background: #F39814; color: white;
  }
  #selectable li:before {
    content: "\2713 ";
    color: transparent;
  }
  #selectable li.ui-selecting:before {
    content: "\2713 ";
    color: black;
  }
  #selectable li.ui-selected:before {
    content: "\2713 ";
    color: white;
  }
  #selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px; 
    cursor: pointer;
  }
  #selectable li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.0em;
    height: 16px;
  }
/* Step 3: Your CSS code goes here */

#sortable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
 }
 #sortable li {
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1.0em;
    height: 12px;
 }

 #sortable li span {
    position: absolute;
    margin-left: -1.3em;
 }

/* Step 4: Your CSS code goes here */

.color_swatch{
    height: 50px;
    width: 50px;
 }